
.todo-container {
    /* max-width: 600px !important; */
    /* margin: 50px auto; */
    /* padding: 20px; */
    border: 1px solid #ccc;
    /* background-color: #90CAF9; */
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

h1 {
    text-align: center;
}

input{
    border:none;
}
.line_add{
    margin:0 400px;
}
